@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

button {
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
}

button:hover {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
}

b {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--dark);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--paragraph);
  line-height: 100%;
}

:root {
  --roboto: 'Roboto', sans-serif;
  --green: #2cb67d;
  --purple: #7f5af0;
  --dark: #16161a;
  --title: #fffffe;
  --paragraph: #94a1b2;
  --error: #f03a17;
  --border: #010101;
  --snippet: #2d2d2d;
  --padding-xs: 0.5rem;
  --padding-s: 1rem;
  --padding-m: 2rem;
  --border-radius: 0.25rem;
  --input-width: 400px;
  --snippet-width: 600px;
}

h1,
h2,
h3,
h4 {
  color: var(--title);
  font-weight: bold;
  line-height: 100%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4,
input,
textarea,
select {
  font-size: 1rem;
}
